{% load static %}
{% load myfilters %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/boostrap.css' %}">

<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action="{% url 'login' %}" method="POST">
					{% csrf_token %}
					{% for field in form %}
					<div class="group">
						<label for="user" class="label">{{ field.label_tag }}</label>
						{{ field|addClass:'input'}}
					</div>
					{% endfor %}
					<div class="group">
						<input type="submit" value="Login" class="button">
					</div>
					<div class="group">
						<a href="{% url 'register' %}">
							<input type="button" class="button" value="Register">
						</a>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>



